<main>
  <section class="favorites">
    <h1 class="favorites-tittle">Favorites</h1>

    <div class="favorites-thumb">
      <div class="quote-container">
        <load src="partials/quotes.html" />
      </div>
      <div class="js-hidden-text">
        <p class="favorites-text default-text">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
      <div class="favorites-gallery">
        <ul class="gallery-list"></ul>
      </div>
    </div>
  </section>
</main>
<script type="module" src="./js/nav.js"></script>
<script type="module" src="./js/favorite.js"></script>
