<section class="container">
  <div class="exercises-row exercises-row--jsb-ca exercises-mb_20">
    <div class="exercises-col-xl-auto">
      <ul class="breadcrumbs">
        <li>
          <h3>Exercises</h3>
        </li>
      </ul>
    </div>
    <div class="exercises-col-xl-auto">
      <ul class="exercises-filters">
        <li class="exercises-filters__selected" id="Muscles">Muscles</li>
        <li id="Body%20parts">Body parts</li>
        <li id="Equipment">Equipment</li>
      </ul>
    </div>
  </div>
</section>