<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-content-start">
        <a class="footer-logo" href="./index.html" aria-label="Site logo">
          <svg class="logo-svg">
            <use href="./img/icons/sprites.svg#logo-light"></use>
          </svg>
        </a>

        <load src="partials/nav.html" />
      </div>

      <div class="footer-content-end">
        <p class="footer-cta-text">
          Transforming your <em>body</em> shape with us
        </p>

        <div class="subscription">
          <p class="footer-subscribe-text">
            Subscribe and learn about new exercises!
          </p>
          <form class="footer-form">
            <input type="email" placeholder="Email" required />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-note">
      <p class="footer-note-copyright">Your Energy. All rights reserved.</p>

      <div class="footer-links">
        <a class="footer-link" href="#" aria-label="Privacy Policy"
          >Privacy Policy</a
        >
        /
        <a class="footer-link" href="#" aria-label="Terms of Service"
          >Terms of Service</a
        >
      </div>

      <p class="footer-note-year">&copy;2023</p>
    </div>
  </div>
</footer>
