.exercises-row {
  margin: 0 auto;
  margin-inline: -0.5rem;
}

.favorites-tittle {
  font-size: 28px;
  line-height: 1.35714;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .favorites-tittle {
    font-size: 44px;
    line-height: 1.09091;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .quote-container {
    flex-direction: row;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-container {
    width: 700px;
    flex-direction: column;
  }
}

.favorites-thumb {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .favorites-thumb {
    flex-direction: row;
  }
}

/* @media screen and (min-width: 768px) {
  .default-text {
    font-size: 18px;
  }
} */

.js-hidden-text {
  margin: 0;
  padding: 20px 9px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28571;
}

@media screen and (min-width: 768px) {
  .js-hidden-text {
    padding: 132px 75px;
    font-size: 18px;
    line-height: 1.33333;
  }
}

@media screen and (min-width: 1440px) {
  .js-hidden-text {
    padding: 114px 0;
    width: 554px;
  }
}

.gallery-list {
  display: flex;
  margin-top: 40px;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    gap: 32px 16px;
    margin: 0px;
  }
}

.exercise-card {
  list-style: none;
  width: 335px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-card:hover,
.exercise-card:focus {
  box-shadow: 0px 4px 4px 1px var(--color-grey);
}

@media screen and (min-width: 768px) {
  .exercise-card {
    width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-card {
    width: 405px;
  }
}

.workout {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 5px 7.5px;
  border-radius: 15px;
  border: 1px solid #242424;
}

.exercise-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-black);
  cursor: pointer;
}

.exercise-btn:hover .exercise-arrow,
.exercise-btn:focus .exercise-arrow {
  stroke: var(--color-white);
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-exercise-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 20px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .favorite-exercise-name {
    font-size: 24px;
    line-height: 32px;
  }
}

.exercise-tittle {
  display: flex;
  text-align: left;
  gap: 16px;
}

.man-svg-thumb {
  width: 24px;
  height: 24px;
}

.exercise-trash {
  display: flex;
  align-items: center;
}

.trash-btn {
  padding: 0;
  width: 34px;
  height: 34px;
  margin-left: 8px;
  border: none;
  background-color: inherit;
}

.trash-svg {
  position: relative;
  top: 2px;
  stroke: var(--color-black);
  fill: transparent;
}

.trash-btn:hover .trash-svg,
.trash-btn:focus .trash-svg {
  stroke: var(--color-white);
  cursor: pointer;
}

.exercise-category {
  color: rgba(36, 36, 36, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.exercise-category:not(:last-child) {
  margin-right: 10px;
}

.exercise-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
}

.exercise-category > span {
  color: var(--color-black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorites-gallery {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .favorites-gallery {
    margin-top: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-gallery {
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }
}
